@charset "UTF-8";
.hide-text, .site-title {
  font: 0/0 serif;
  text-shadow: none;
  color: transparent; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
Base styles: opinionated defaults
========================================================================== */
html {
  color: #222; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
audio,
canvas,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/*
 * Base 
 */
/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

html {
  font-size: 16px;
  overflow-y: scroll; }

body {
  color: #333;
  font-size: 1rem;
  font-family: "PT Sans", sans-serif;
  line-height: 1.618; }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1.618rem;
  line-height: 1.125; }

h1 {
  font-size: 2.618rem; }

h2 {
  font-size: 1.82rem; }

h3 {
  font-size: 1.618rem; }

h4 {
  font-size: 1.125rem; }

h5 {
  font-size: 1rem; }

h6 {
  text-transform: uppercase;
  font-size: 0.695rem; }

p, ul, ol, dl, blockquote {
  margin-bottom: 1.618rem;
  font-size: 1rem;
  line-height: 1.618; }

ol,
ul {
  margin-left: 0.695rem; }

ul {
  list-style-type: disc; }

ol {
  list-style-type: decimal; }

ol ul,
ul ol,
ol ol,
ul ul {
  margin-bottom: 0; }

nav ul, nav ol {
  margin: 0;
  padding: 0;
  list-style: none; }

b, strong {
  font-weight: bold; }

i, em {
  font-style: italic; }

small {
  font-size: 80%; }

a, a:visited, a:hover {
  text-decoration: none;
  outline: none; }

a, a:visited {
  color: brown; }

a:hover {
  color: #611919; }

a:active, a:focus {
  outline: none; }

pre {
  white-space: pre-wrap; }

code {
  color: brown;
  font-family: "DejaVu Sans Mono", Inconsolata, Consolas, "Lucida Console", monospace; }

blockquote {
  margin-left: 0;
  padding-left: 1.618rem;
  border-left: 5px solid #e6e6e6;
  color: #666666; }

hr {
  margin-bottom: 1.618rem;
  height: 1px;
  background-color: #ccc;
  border: 0; }

hr.fancy {
  display: block;
  clear: both;
  margin: 1em 0 2em;
  /* 0 0 32px */
  padding: 0;
  height: 0;
  border: 0;
  text-align: center;
  font-weight: 700;
  font-size: 2em;
  /* 32px */
  line-height: 1;
  /* 32px */ }

hr.fancy::after {
  padding-left: 1em;
  height: 0;
  color: #bbb;
  content: "···";
  letter-spacing: 1em; }

figure figcaption {
  margin-top: 0.382em; }
figure p {
  margin-bottom: 0; }

figcaption {
  font-size: 0.695em;
  color: gray; }

table {
  margin: 0;
  padding: 0; }

table th,
table td {
  padding: 10px 20px;
  text-align: left;
  border-bottom: 1px solid #ccc; }

table th {
  border-width: 2px; }

table td {
  color: #666; }

table tr:last-child th,
table tr:last-child td {
  border-bottom: none; }

table tr:nth-child(even) {
  background: #eee; }

img {
  max-width: 100%;
  height: auto; }

/*
 * Layout 
 */
/*
 * Header 
 */
.masthead {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.site-logo img {
  width: 100%; }

.button-login {
  margin-top: 1rem;
  display: block; }

/*
 * Navigation 
 */
@media only screen and (min-width: 48rem) {
  .top-nav-el,
  .main-nav-el {
    float: left;
    position: relative; } }

/* Top Navigation */
.top-nav-container {
  text-align: center; }
  @media only screen and (min-width: 48rem) {
    .top-nav-container {
      text-align: right; } }

.site-top-nav {
  margin-top: 0.618rem;
  display: inline-block; }

.top-nav-el {
  float: left;
  position: relative;
  display: block;
  margin-right: 1rem;
  padding-right: 1rem;
  border-right: 1px dotted brown; }
  .top-nav-el:last-child {
    margin-right: 0;
    border-right: none; }

/* Main Navigation */
.desktop-nav {
  display: none; }
  @media only screen and (min-width: 48rem) {
    .desktop-nav {
      display: block; } }

.mobile-nav {
  display: block; }
  @media only screen and (min-width: 48rem) {
    .mobile-nav {
      display: none; } }

.display-nav {
  display: table;
  padding: 2px;
  margin: 2px; }
  .display-nav a {
    display: table;
    float: left;
    background-color: #7c2020 !important;
    border-radius: 4px; }
  @media only screen and (min-width: 48rem) {
    .display-nav {
      display: none; } }

.main-nav-container {
  background-color: #BE1D22; }

.main-nav-el {
  position: relative;
  text-align: center; }
  @media only screen and (min-width: 48rem) {
    .main-nav-el {
      text-align: left; } }
  .main-nav-el a {
    display: block;
    padding: 0.618rem 1.618rem;
    background-color: #BE1D22;
    text-transform: uppercase; }
    .main-nav-el a:hover {
      background-color: brown; }
  .main-nav-el:hover .dropdown {
    display: block; }

.site-main-nav a {
  color: #fff; }

/*
 * Dropdowns 
 */
@media only screen and (min-width: 48rem) {
  .dropdown {
    width: 20rem;
    position: absolute;
    z-index: 99999;
    display: none; } }

.container {
  margin: 0 auto;
  max-width: 67rem;
  padding-left: 1rem;
  padding-right: 1rem; }

/*
 * Services 
 */
.services-list {
  margin-top: 0;
  margin-bottom: 0; }

.service {
  color: #BE1D22;
  font-size: 1.125rem; }

/*
 * Testimonial 
 */
.testimonial {
  color: #555;
  font-style: italic;
  text-align: center;
  background-color: #f6f6f6; }
  .testimonial .quote-left,
  .testimonial .quote-right {
    color: #BE1D22;
    font-size: 2rem; }
  .testimonial p {
    font-size: 1.125rem; }
  .testimonial strong {
    color: brown; }

/*
 * Hero 
 */
.site-hero {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #96E3DB; }

.circle-left,
.circle-middle,
.circle-right {
  position: relative; }

.circle-with-text {
  display: none; }

footer {
  text-align: center; }

.footer-social-icons,
.business-info {
  display: inline-block; }

.footer-social-icons {
  margin-left: 2px; }

.site-footer {
  padding: 0.618rem;
  background-color: #BE1D22;
  color: #fff; }
  .site-footer a {
    color: #fff; }
  .site-footer p {
    margin: 0; }
  .site-footer .social-icon {
    margin-right: 0.236rem;
    display: inline-block;
    font-size: 1.618rem; }
    .site-footer .social-icon i {
      vertical-align: middle; }

/*! Hyx v1.0.2 | MIT License | http://github.com/thinkxl/hyx */
.row {
  width: 100%; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }

.col-1-1 {
  width: 100%; }

@media only screen and (min-width: 48rem) {
  .col-1-2 {
    float: left;
    width: 49.5%;
    margin-right: 1%; }
    .col-1-2:last-child {
      margin-right: 0; } }

@media only screen and (min-width: 48rem) {
  .col-1-3 {
    float: left;
    width: 32.66667%;
    margin-right: 1%; }
    .col-1-3:last-child {
      margin-right: 0; } }

.col-1-4 {
  float: left;
  width: 24.25%;
  margin-right: 1%; }
  .col-1-4:last-child {
    margin-right: 0; }

.circle-left {
  float: left;
  width: 32.66667%;
  margin-right: 1%; }
  .circle-left:last-child {
    margin-right: 0; }

.circle-middle {
  float: left;
  width: 32.66667%;
  margin-right: 1%; }
  .circle-middle:last-child {
    margin-right: 0; }

.circle-right {
  float: left;
  width: 32.66667%;
  margin-right: 0; }
  .circle-right:last-child {
    margin-right: 0; }

img {
  max-width: 100%;
  height: auto; }

/*
 * UI 
 */
.button-static, button,
.btn,
.btn-primary,
.button-login,
.btn-small,
.btn-large,
a.btn,
a.btn-primary,
a.button-login,
a.btn-small,
a.btn-large {
  display: inline-block;
  padding: 0.618rem 1.125rem;
  border: 0;
  border-radius: 0.236rem;
  text-decoration: none;
  font-family: inherit;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 1px;
  cursor: pointer; }
  .button-static:focus, button:focus,
  .btn:focus,
  .btn-primary:focus,
  .button-login:focus,
  .btn-small:focus,
  .btn-large:focus {
    outline: none; }

button,
.btn,
.btn-primary,
.button-login,
.btn-small,
.btn-large,
a.btn,
a.btn-primary,
a.button-login,
a.btn-small,
a.btn-large {
  color: #fff;
  background: #BE1D22;
  /* Old browsers */
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #BE1D22), color-stop(100%, #92161a));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #BE1D22 0%, #92161a 100%);
  /* Chrome10+,Safari5.1+ */
  /* Opera 11.10+ */
  /* IE10+ */
  background: linear-gradient(to bottom, #BE1D22 0%, #92161a 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$top', endColorstr='$bottom',GradientType=0 );
  /* IE6-9 */
  box-shadow: 0 3px 0 #7c1316; }
  button:hover,
  .btn:hover,
  .btn-primary:hover,
  .button-login:hover,
  .btn-small:hover,
  .btn-large:hover,
  a.btn:hover,
  a.btn-primary:hover,
  a.button-login:hover,
  a.btn-small:hover,
  a.btn-large:hover {
    background: #a81a1e;
    color: #fff; }
  button:active,
  .btn:active,
  .btn-primary:active,
  .button-login:active,
  .btn-small:active,
  .btn-large:active,
  a.btn:active,
  a.btn-primary:active,
  a.button-login:active,
  a.btn-small:active,
  a.btn-large:active {
    background: #b51c20; }

.btn-small {
  font-size: 0.618rem; }

.btn-large {
  font-size: 1.618rem;
  font-weight: bold; }

[class^="icon-"] {
  margin-bottom: 1em;
  width: 2em;
  height: 2em;
  border: 1px solid #333;
  text-align: center; }
  [class^="icon-"] i {
    line-height: 2em; }

.icon-circle {
  border-radius: 100%; }

.icon-rounded {
  border-radius: 3.778px; }

.icon-large {
  font-size: 150%; }

.icon-huge {
  font-size: 200%; }

.page-title {
  margin-top: 2rem;
  text-align: center; }

.page-title {
  color: #BE1D22; }

.headline {
  color: #999; }

/*
 * Example page
 */
