// General
$site-width: 67rem;
$baseline: 1.618rem;

// Grid Variables.
$column-count: 12;
$gutter: 3%;

// Colors
$red: #BE1D22;
$green-ugly: #96E3DB;

// Typography Variables.
$text-color: #333;
$link-color: brown;
$muted-text-color: lighten($text-color, 15%);

$base-font-family: 'PT Sans', sans-serif;
$base-font-size: 1rem;
$base-line-height: 1.618;
$base-margin-bottom: $baseline;
$measure: 806px;

$headings-margin-bottom: $base-margin-bottom;	
$headings-line-height: 1.125;

$code-font-family: 'DejaVu Sans Mono', Inconsolata, Consolas, 'Lucida Console', monospace;
$code-text-color: brown;

// Button Variables.
$btn-roundness: 0.236rem;

$btn-small-font-size: 0.618rem;
$btn-large-font-size: $baseline;

$btn-default-bg: #eee;
$btn-default-text-color: #333;

$btn-primary-bg: #0078E7;
$btn-primary-text-color: lighten($btn-primary-bg, 50%);

// Form Variables.
$field-border-color: #ccc;
$field-error-color: brown;
$field-required-color: brown;

// Icon Variables.
$icon-roundness: 3.778px;
$icon-border-color: #333;

// Feedback Variables.
$information-color: #439ccf;
$error-color: #e72915;
$warning-color: #d35400;
$success-color: #74a730;
