@import "../variables";

.container {
	margin: 0 auto;
	max-width: $site-width;
	padding-left: 1rem;
	padding-right: 1rem;
}

/*
 * Services 
 */

.services-list {
	margin-top: 0;
	margin-bottom: 0;
}

.service {
	color: $red;
	font-size: 1.125rem;
}

/*
 * Testimonial 
 */

.testimonial {
	color: #555;
	font-style: italic;
	text-align: center;
	background-color: lighten(#eee, 3%);	

	// .quote-left,
	// .quote-right {
	// 	margin-left: auto;
	// 	margin-right: auto;
	// 	width: 2em;
	// 	height: 2em;
	// 	font-size: 2rem;
	// 	line-height: 2em;
	// 	color: #fff;
	// 	background-color: $red;
	// 	border-radius: 100%;
	// }

	.quote-left,
	.quote-right {
		color: $red;
		font-size: 2rem;
	}

	p {
		font-size: 1.125rem;	
	}

	strong {
		color: brown;
	}
}

/*
 * Hero 
 */

.site-hero {
	padding-top: 2rem;
	padding-bottom: 2rem;
	background-color: $green-ugly;
}

.circle-left,
.circle-middle,
.circle-right {
	position: relative;
}

.circle-with-text {
	display: none;
}
