footer {
	text-align: center;
}

.footer-social-icons,
.business-info {
	display: inline-block;
}

.footer-social-icons {
	margin-left: 2px;
}

.site-footer {
	padding: 0.618rem;
	background-color: $red;
	color: #fff;

	a { 
		color: #fff; 
	}

	p { 
		margin: 0; 
	}

	.social-icon {
		margin-right: 0.236rem;
		display: inline-block;
		font-size: 1.618rem;

		// Vertical align for the icons
		i { 
			vertical-align: middle; 
		}
	}
}
