@import "../variables";
@import "../../bower_components/hyx.scss/hyx";

$gutter: 1%;

.col-1-1 {
	width: 100%;
}

.col-1-2 { 
	@include respond-to(48rem) {
		@include cols(1/2); 
	}
}

.col-1-3 {
	@include respond-to(48rem) {
		@include cols(1/3);
	}
}

.col-1-4 {
	@include cols(1/4);
}

.circle-left {
	@include cols(1/3);
}

.circle-middle {
	@include cols(1/3);
}

.circle-right {
	@include cols(1/3, 0);
}

img {
	max-width: 100%;
	height: auto;
}
