/*
 * Header 
 */

.masthead {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.site-title {
	@extend .hide-text;
}

.site-logo {
	img { 
		width: 100%;
	}
}

.button-login {
	@extend .btn-primary;
	margin-top: 1rem;
	display: block;
}
