/*
 * Navigation 
 */

.top-nav-el,
.main-nav-el {
	@include respond-to(48rem) {
		float: left;
		position: relative;
	}
}

/* Top Navigation */
.top-nav-container {
	text-align: center;

	@include respond-to(48rem) {
		text-align: right;
	}
}

.site-top-nav {
	margin-top: 0.618rem;
	display: inline-block;
}

.top-nav-el {
	float: left;
	position: relative;
	display: block;
	margin-right: 1rem;
	padding-right: 1rem;
	border-right: 1px dotted brown;

	&:last-child {
		margin-right: 0;
		border-right: none;
	}
}

/* Main Navigation */
.desktop-nav {
	display: none;

	@include respond-to(48rem) {
		display: block;
	}
}

.mobile-nav {
	display: block;

	@include respond-to(48rem) {
		display: none;
	}
}

.display-nav {
	display: table;
	padding: 2px;
	margin: 2px;

	a { 
		display: table;
		float: left;
		background-color: darken(brown, 10%) !important; 
		border-radius: 4px;
	}

	@include respond-to(48rem) {
		display: none;
	}
}

.main-nav-container {
	background-color: $red;
}

.site-main-nav {
	// margin: 0 auto;
	// display: table;
}

.main-nav-el {
	position: relative;
	text-align: center;

	@include respond-to(48rem) {
		text-align: left;
	}

	a {
		display: block;
		padding: 0.618rem 1.618rem;
		background-color: $red;
		text-transform: uppercase;

		&:hover {
			background-color: brown;
		}
	}

	&:hover .dropdown {
		display: block;
	}
}

.site-main-nav {
	a { 
		color: #fff; 
	}
}

/*
 * Dropdowns 
 */

.dropdown {
	@include respond-to(48rem) {
		width: 20rem;
		position: absolute;
		z-index: 99999;
		display: none;
	}
}
