// Responsive
@mixin respond-to($size) {
	@media only screen and (min-width: $size) { @content; }
}

@mixin button($background-color, $text-color) {
	background-color: $background-color;
	color: $text-color;

	&:hover {
		background-color: darken($background-color, 5%);
		color: $text-color;
	}

	&:active {
		background-color: darken($background-color, 2%);
	}
}

@mixin gradient-button($top, $bottom, $text-color) {
	color: $text-color;
	background: $top; /* Old browsers */
	background: -moz-linear-gradient(top, $top 0%, $bottom 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, $top 0%,$bottom 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, $top 0%,$bottom 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, $top 0%,$bottom 100%); /* IE10+ */
	background: linear-gradient(to bottom, $top 0%,$bottom 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$top', endColorstr='$bottom',GradientType=0 ); /* IE6-9 */


	&:hover {
		background: darken($top, 5%);
		color: $text-color;
	}

	&:active {
		background: darken($top, 2%);
	}
}

.hide-text {
	font: 0/0 serif;
	text-shadow: none;
	color: transparent;
}
