@import "../variables";

.button-static {
	display: inline-block;
	padding: 0.618rem 1.125rem;
	border: 0;
	border-radius: $btn-roundness;
	text-decoration: none;
	font-family: inherit;
	font-weight: bold;
	line-height: 1;
	letter-spacing: 1px;
	cursor: pointer;

	&:focus {
		outline: none;	
	}
}

button,
.btn,
a.btn {
	@extend .button-static;
	@include gradient-button($red, darken($red, 10%), #fff);

	box-shadow: 0 3px 0 darken($red, 15%);
}


.btn-primary {
	@extend .btn;
}

.btn-small {
	@extend .btn;

	font-size: $btn-small-font-size;
}

.btn-large {
	@extend .btn;

	font-size: $btn-large-font-size;
	font-weight: bold;
}
